.mat-drawer-container {
    height: 100vh;
}

.headline {
    margin-left: 20px;
}

.menu-icon {
    cursor: pointer;
}

.sidenav {
    width: 300px;
}

.logo-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    min-height: 56px;
    display: flex;
   align-items: center;
   padding-left: 16px;
   padding-right: 16px;

}

.toolbar-container {
    height: 56px;

}