.user-detail-header {
    min-height: 250px;
    background-color: #28c5f5;
    color: white;
    display: flex;
    align-items: flex-end;

    img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 100%;
    }

    h2 {
        margin-bottom: 0;
    }
}

.user-details {
    margin-left: 32px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
