<mat-card>
  <table class="user-table">
    <tr>
       <th>Name</th>
    <th>E-mail</th>
    <th>City</th>
    </tr>
   <tr>
     <td>dfsd</td>
     <td>sdfs</td>
     <td>sdfsdf</td>
   </tr>
   <tr>
    <td>dfsd</td>
    <td>sdfs</td>
    <td>sdfsdf</td>
  </tr>
  <tr>
    <td>dfsd</td>
    <td>sdfs</td>
    <td>sdfsdf</td>
  </tr>
  </table>
</mat-card>


<button (click)="openDialog()" class="add-user-btn" matTooltip="Add User" mat-fab color="primary">
    <mat-icon>add</mat-icon>
    
  </button>
